{% extends 'base.html' %}

{% block content %}
<div class="content-container">
    <h2>科目登録</h2>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form method="post" class="form-container">
        {% csrf_token %}
        <label for="subject_class">科目分類:</label>
        <select id="subject_class" name="subject_class">
            <option value="必修">必修</option>
            <option value="教養">教養</option>
            <option value="専門">専門</option>
        </select>

        <label for="subject_name">科目名:</label>
        <input type="text" id="subject_name" name="subject_name" required>

        <button type="submit" class="btn">登録</button>
    </form>
</div>
{% endblock %}